.about-us{
    padding-bottom: 140px;
}
.about-us__container {}

.about-us__row {
    display: flex;
    gap: 115px;
}

.about-us__body {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    
}
.about-us__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-us__title{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    color: #244D4D;
}

.about-us__text {
    font-size: 20px;
    line-height: 125%;
    font-weight: 400;
    color: #383738;
}

.about-us__benefits { 
    max-width: 320px;
}
.about-us__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.text-list {
    font-weight: 600;
    font-size: 24px;
    line-height: 108%;
    color: #244D4D;
} 


.list__image {
}

.list__image img {
    height: 50px;
    width: 50px;
}
.list__item {
    display: flex;
    gap: 20px;
    
}
.list__body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.p-list {
    font-size: 18px;
    line-height: 144%;

}
.about-us__image{
    flex: 0 0 50%;
    width: 596px;
    height: 577px;
}

.about-us__image img{
   object-fit: cover;
   object-position: center;
}

@media (max-width: 1130px) {
    .about-us{
        padding-bottom: 80px;
    }
    .about-us__row {
        gap: 60px;
    }
}

@media (max-width: 1090px) {
    .about-us__row {
        flex-direction: column;
        gap: 30px;
    }

    .about-us__benefits { 
        max-width: 100%;
    }
    .about-us__list {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .about-us__image{
        width: 100%;
        height: 550px;
        flex-basis: auto;
      
    }
    .about-us__image img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: bottom;
    }
    /* .about-us__img {
        position: relative;
        display: block;
        padding-bottom: 60%;
    }
    .about-us__img img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    } */
        
    /* .about-us__image img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    } */
}
@media (max-width: 992px) {
    .about-us__body {
        gap: 20px;
    }
    .about-us__list {
        flex-wrap: wrap;
        gap: 20px;
    }
    .list__body {
        gap: 10px;
    }
}
@media (max-width: 767px) {
.about-us__image {
    height: 400px;
    }
    .about-us__image img {
    object-position: bottom;
    }
}
@media (max-width: 550px) {
    .about-us__description {
        gap: 15px;
    }
    .about-us__title {
        font-size: 30px;
    }
    .about-us__text {
        font-size: 18px;
    }
    .list__body {
        gap: 5px;
    }
    .text-list {
        font-size: 22px;
    }
    .p-list {
        font-size: 16px;
    }
    .about-us__image {
        height: 350px;

    }
    .about-us__image img {
        object-position: bottom;
    }
}
@media (max-width: 450px) {
    .about-us {
        padding-bottom: 50px;
    }
}
@media (max-width: 380px) {
    .about-us__image {
        height: 200px;
    }
    .about-us__title {
        font-size: 28px;
    }
    .about-us__text {
        font-size: 16px;
    }
}