.review {
    padding-bottom: 140px;
}
.review__container {

}
.review__row {
    display: flex;
    gap: 178px;
}

.review__box {
    position: relative;
    background-color: #244D4D;
    width: 490px;
    height: 490px;
    border-radius: 50%;
    flex: 0 0 auto;
}

.review__image {
    position: absolute;
    left: 130px;
    top: -1px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.review__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    gap: 30px;
}

.review__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 141%;
    color: #244D4D;
}

.review__text {
    font-size: 20px;
    line-height: 135%;
    color: #383738;
    max-width: 530px; 
}

.person__row {
    display: inline-flex;
    gap: 10px;
}
.person__body {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
}
.person__name {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.person__rating {
    display: flex;
    gap: 8px;
}
.rating {
    font-size: 14px;
    line-height: 20px;
}
@media (max-width: 1130px) {
    .review {
        padding-bottom: 80px;
    }
}
@media (max-width: 1100px) {
    .review__box {
        display: none;
    }
    .review__body {
        align-items: center;
        text-align: center;
    }
}
@media (max-width: 550px) {
    .review__title {
        font-size: 32px;
    }
    .review__text {
        font-size: 18px;
    }
    .review__body {
        gap: 20px;
    }
}
@media (max-width: 450px) {
    .review {
        padding-bottom: 50px;
    }
}
@media (max-width: 380px) {
    .review__title {
        font-size: 28px;
    }
    .review__text {
        font-size: 16px;
    }
    .review__body {
        gap: 15px;
    }
}
