:root {
   --mobile-min: 425px; 
   --tablet-min: 767px; 
   --desktop-min: 992px;
   --mobile-max: var(--mobile-min) - 1px;
   --tablet-max: var(--tablet-min) - 1px;
   --desktop-max: var(--desktop-min) - 1px;
  
} 

/* ---------HEADER----------------------------------------------------- */
.header {
    grid-area: header;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 128px;
    align-items: center;
    justify-content: space-between; 

}
.header__burger {
    
}
.header__logo {
    
}
.header__phone {
    position: relative;  
}

.header__phone::before {
    content: "+1 234 555-55-55";
    display: block;
    opacity: 0;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 133%;
    letter-spacing: 2px;
    position: absolute;
    top: 50%;
    width: max-content;
    padding-right: 15px;
    transform: translate(-100%, -50%);
    transition: opacity 0.5s ease 0s;
    pointer-events: none;
}

.header__phone:hover::before {
    opacity: 1;
    pointer-events: all;
}

@media (max-width: 767px) {
    .header__burger img {
        width: 24px;
        height: 24px;
    }
    .header__logo img {
        width: 82px;
        height: 48px;
    }
    .header__phone img {
        width: 24px;
        height: 24px;
    }
    .header__phone:hover::before {
        display: none;
    }
}