.furniture {
    margin: 140px 0;
}

.furniture__block {
    display: flex;
    flex-direction: column;
    gap: 90px;
}
.furniture__header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.furniture__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #244D4D;
}

.furniture__navigation {
   font-size: 24px;
   line-height: 27px;
   color: #919090;
}

.furniture__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.furniture__list li:first-child {
    color: #244D4D;
}

.furniture__list li:nth-child(2):hover {
    color: #244D4D; 
}

.furniture__list li:last-child:hover {
    color: #244D4D;
}

.furniture__row {
    display: flex;
    gap: 137px;
    justify-content: space-between;
}
.furniture__images {
    position: relative;
    height: 390px;
    min-width: 554px;
    background-color: #154444;
}
.furniture__image {
    position: absolute;
    top: 18px;
    left: 33px;
    z-index: 1;
}

.futniture__category {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.furniture__column {
    border: 1px solid #D9DCE5;
    width: 222px;
    height: 90px;
    color: #808080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.furniture__column:hover {
    background-color: #154444;
    color: white;
}

.item__image {
    align-self: center;
}

.item__text {
    font-size: 16px;
    align-self: center;
}

/* .furniture__item {
    border: 1px solid #D9DCE5;
    color: #808080;
} */

/* .item__row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

} */