.companies {
    padding: 140px 177px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.companies__title {
    font-weight: 500;
    font-size: 32px;
    color: #244D4D;
}

.companies__icons {
    display: flex;
    gap: 100px;
}